<!doctype html>
<html lang="en">
   
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Thirukkural</title>
      <!-- Favicon -->
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">

      <!-- swiper css -->


   </head>
   <body>
      <!-- loader Start -->
      
      <!-- loader END -->
      <!-- Wrapper Start -->
      <div class="wrapper">
         <!-- Sidebar  -->
         
         <div class="iq-sidebar">
            <div class="iq-sidebar-logo d-flex justify-content-between">
               <a href="index.html">
               <div class="iq-light-logo">
                  <img src="images/logo.png" class="img-fluid" alt="">
               </div>
            
               
               </a>
               
            </div>
            <div id="sidebar-scrollbar" data-scrollbar="true" tabindex="-1" style="overflow: hidden; outline: none;"><div class="scroll-content">
               <nav class="iq-sidebar-menu">
                  <ul id="iq-sidebar-toggle" class="iq-menu">
                     
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 1</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 2</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 3</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 4</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 5</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 6</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 7</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 8</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 9</span></a></li>
                     <li><a href="index.html" class="iq-waves-effect"><i class="ri-home-4-line"></i><span>Menu 10</span></a></li>
                     
                  </ul>
               </nav>
               <div class="p-3"></div>
            </div><div class="scrollbar-track scrollbar-track-x" style="display: none;"><div class="scrollbar-thumb scrollbar-thumb-x" style="width: 260px; transform: translate3d(0px, 0px, 0px);"></div></div><div class="scrollbar-track scrollbar-track-y" style="display: block;"><div class="scrollbar-thumb scrollbar-thumb-y" style="height: 488.55px; transform: translate3d(0px, 0px, 0px);"></div></div></div>
         </div>
         <!-- TOP Nav Bar -->
         <div id="content-page" class="content-page">
            <div class="container-fluid">
               <div class="row">
                   
                  <div class="col-sm-12 col-lg-6">
                     
                     <div class="iq-card">
                         
                        <div class="iq-card-header d-flex justify-content-between">
                           <div class="iq-header-title">
                              <h4 class="card-title">Pal</h4>
                           </div>
                        </div>
                        <div class="iq-card-body">
                          
                           <form>
                              <div class="form-group">
                                 <label for="email">Title:</label>
                                 <input type="text" class="form-control" id="text">
                              </div>

<div class="row">
	<div class="col"><textarea class="form-control" id="exampleFormControlTextarea1"placeholder="Description" rows="5"></textarea></div>
							   </div>
                        <br>
                        <div class="row">
                           <div class="col-lg-12 text-right">
                        <button type="submit" class="btn btn-primary">Submit</button>
                     </div>
                  </div>
                  
                           </form>
                           
                        </div>
                        <div class="alert text-white bg-success" role="alert">
                            <div class="iq-alert-text">A simple <b>success</b> alert—check it out!</div>
                         </div>
                        </div>
                  </div>
				   <div class="col-sm-12 col-lg-6">
                  <div class="iq-card">
                     <div class="iq-card-body p-0">
                        <div class="table-responsive">
                           <table class="table">
                              <thead>
                                 <tr>
                                    <th scope="col">S.No</th>
                                    <th scope="col">Section</th>
                                    <th scope="col">Action</th>
                                 
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <th scope="row">1</th>
                                    <td>Cell</td>
                                    <td><a href="#"><i class="fa fa-edit" style="color: #ec1e24;"></i></a> <a href="#"><i class="fa fa-trash" style="color: #ec1e24;"></i></a></td>
                                    
                                 </tr>
                                 <tr>
                                    <th scope="row">2</th>
                                    <td>Cell</td>
                                    <td><a href="#"><i class="fa fa-edit" style="color: #ec1e24;"></i></a> <a href="#"><i class="fa fa-trash" style="color: #ec1e24;"></i></a></td>
                                    
                                 </tr>
                                 <tr>
                                    <th scope="row">3</th>
                                    <td>Cell</td>
                                    <td><a href="#"><i class="fa fa-edit" style="color: #ec1e24;"></i></a> <a href="#"><i class="fa fa-trash" style="color: #ec1e24;"></i></a></td>
                                    
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
                     
                     
                     
                  </div>
                  
               </div>
            </div>
         </div>
         <!-- TOP Nav Bar END -->
         <!-- Page Content  -->
         	
      </div>
      <!-- Wrapper END -->
      <!-- Footer -->
      <footer class="iq-footer">
         <div class="container-fluid">
            <div class="row">
               
               <div class="col-lg-12 text-right">
                   
                  Developed By <a href="#">SKP Title Search</a>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>
